--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.1.0
torchvision==0.16.0
omegaconf
torchmetrics==0.10.3
fvcore
iopath
xformers==0.0.22.post7
submitit
--extra-index-url https://pypi.nvidia.com
cuml-cu11
monai
